.label{
    -fx-font-size: 12px;
    -fx-padding: 15 0 0 5;
    -fx-font-weight: 800;
    -fx-font-family: 'System' , 'Arial', 'sans-serif';
    -fx-text-fill:white;  
}
.text-field{
    -fx-border-radius: 7px;
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-padding: 0 0 0 10;
    -fx-font-weight: 700;
    -fx-font-family: 'System' , 'Arial', 'sans-serif';
    -fx-text-fill: blue;  
    -fx-background-color: #00303F ,  #00303F ,  #00303F;;
    -fx-background-insets: 0 2 -2 2, 0 0 0 0, 0 2 0 2;
}

.text-field:focused{
        -fx-background-color: -fx-focus-color ,  #00303F ,  #00303F;;
    -fx-background-insets: 0 2 -5 2, 0 0 0 0, 0 2 0 2;
}

.combo-box-base{
    -fx-border-radius: 7px;
    -fx-background-radius: 10px;
    -fx-font-size: 12px;
    -fx-padding: 0px;
    -fx-font-weight: 600;
    -fx-font-family: 'System' , 'Arial', 'sans-serif';
      -fx-background-color: #00303F , #00303F , #00303F;
    -fx-background-insets: 0 2 -2 2, 0 0 0 0, 0 2 0 2;
}

.list-cell{
    -fx-text-fill:blue;
}

.combo-box-base:focused{
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
        -fx-background-color: -fx-focus-color , #00303F , #00303F;;
    -fx-background-insets: 0 2 -5 2, 0 0 0 0, 0 2 0 2;
}

.tab{
    -fx-font-size: 12px;
    -fx-padding: 10 0 0 5;
    -fx-font-weight: 800;
    -fx-font-family: 'System' , 'Arial', 'sans-serif';
    -fx-text-fill:black;  
        -fx-background-color: #00303F;
}

/*.tab-pane{
    -fx-font-size: 12px;
    -fx-padding: 10 0 0 5;
    -fx-font-weight: 800;
    -fx-font-family: 'System' , 'Arial', 'sans-serif';
    -fx-text-fill:black;  
        -fx-background-color: #CAE4DB;
}*/