/*.button{
    -fx-border-width: 1.5px;
    -fx-border-color: gray;
    -fx-border-radius: 7px;
    -fx-background-radius: 10px;
    -fx-font-size: 12px;
    -fx-padding: 0px;
    -fx-font-weight: 800;
    -fx-font-family: 'System' , 'helvetica Neue', 'Arial', 'sans-serif';
    -fx-background-color: #DCAE1D;
    -fx-text-fill: #00303F;
}
*/
.button:focused{
    -fx-border-color: #DCAE1D;
    -fx-border-width: 2px;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

/**Costumization of Buttons**/
.button{
   -fx-background-color: #00303F;
   -fx-text-fill:white;
   -fx-wrap-text: true;
   -fx-font-weight: bold;
   -fx-effect: dropshadow( three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
   -fx-cursor:hand;
 }

.button:hover{     
  -fx-background-color:#DCAE1D;
  -fx-text-fill:black;
  -fx-font-weight:bold; 
 }
