.combo-box-base{
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-font-size: 15px;
    -fx-padding: 0px;
    -fx-font-weight: 600;
    -fx-font-family: 'System' , 'Arial', 'sans-serif';
    -fx-background-color: gray , white , white;
    -fx-background-insets: 0 2 -2 2, 0 0 0 0, 0 2 0 2;
    -fx-text-fill:#00303F;
}
.list-cell{
 -fx-border-radius: 7px;
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-padding: 0 0 0 10;
    -fx-font-weight: 700;
    -fx-font-family: 'System' , 'Arial', 'sans-serif';
    -fx-background-color: gray , white , white;
    -fx-background-insets: 0 2 0 2, 0 0 0 0, 0 2 0 2;
    -fx-text-fill:#00303F;
}

.list-cell:hover{
 -fx-background-color: #DCAE1D;
}

.combo-box-base:focused{
    -fx-background-color: #00303F;
}
.list-cell-base:focused{
    -fx-background-color: #00303F;
}

combo-box-base > .arrow-button > .arrow {
    -fx-background-color: #DCAE1D;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 2 4 0 0;
    -fx-shape: "M 0 0 H 7 L 3.5 4 z";	
}