/*******************************************************************************
 * *
 * DatePicker *
 * *
 ******************************************************************************/
.text-field{
    -fx-border-radius: 7px;
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-padding: 0 0 0 10;
    -fx-font-weight: 700;
    -fx-font-family: 'System' , 'Arial', 'sans-serif';
    -fx-text-fill: #00303F;  
    -fx-background-color: gray ,  white ,  white;
    -fx-background-insets: 0 2 -2 2, 0 0 0 0, 0 2 0 2;
}

.date-picker-popup {
    -fx-padding: 1;
    -fx-background-color: #DCAE1D;
}

/*Cabecalho onde consta o mês e o ano*/
.date-picker-popup > .month-year-pane {
    -fx-padding: 5 5 5 5;
    -fx-alignment: CENTER;
    -fx-background-color: #00303F;
}


.date-picker-popup > .month-year-pane > .spinner {
    -fx-spacing: 1;
    -fx-alignment: CENTER;
    -fx-fill-height: false;
}

/*propriedades do nome do mes e do ano*/
.date-picker-popup > .month-year-pane > .spinner > .spinner-label {
    -fx-font-size: 1.083333em;
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

/*backgroud das setas seletoras do mes e ano.*/
.date-picker-popup > .month-year-pane > .spinner > .left-button {
    -fx-padding: 10 5 0 5;
    -fx-background-color: #00303F;
}

/*backgroud das setas seletoras do mes e ano.*/
.date-picker-popup > .month-year-pane > .spinner > .right-button {
    -fx-padding: 10 5 0 5;
    -fx-background-color: #00303F;
}

/*propriedades das setas seletoras do mes e ano.*/
.date-picker-popup > .month-year-pane > .spinner > .button > .left-arrow {
    -fx-background-color: #DCAE1D;
    -fx-background-insets: 0;
    -fx-padding: 0.333em 0.167em 0.333em 0.167em;
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-scale-shape: true;
}

/*propriedades das setas seletoras do mes e ano.*/
.date-picker-popup > .month-year-pane > .spinner > .button > .right-arrow {
    -fx-background-color: #DCAE1D;
    -fx-background-insets: 0;
    -fx-padding: 0.333em 0.167em 0.333em 0.167em;
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-scale-shape: true;
}

/*ação ao passar o mouse sobre as setas seletoras do mes e ano.*/
.date-picker-popup > .month-year-pane > .spinner > .right-button:hover  {
    -fx-padding: 5 5 5 5;
}

/*ação ao passar o mouse sobre as setas seletoras do mes e ano.*/
.date-picker-popup > .month-year-pane > .spinner > .left-button:hover {
    -fx-padding: 5 5 5 5;
}

.date-picker-popup > * > .cell { 
    -fx-padding: 5 10 5 8;
    -fx-alignment: BASELINE_CENTER;
}

.date-picker-popup > * > .cell:disabled > * { 
    /* This is set on the cell's children so the border is not affected. */
    -fx-opacity: 0.4;
}

/*proriedades dos nomes dos dias da semana*/
.date-picker-popup > * > .week-number-header-cell,
.date-picker-popup > * > .day-name-cell {
    -fx-font-size: 1.0em;
    -fx-padding: 0;
    -fx-text-fill: #00303F;
    -fx-font-weight: bold;
    -fx-border-color: #DCAE1D;
    -fx-background-color: #DCAE1D;
}

/*propriedades do número da semana*/
.date-picker-popup > * > .week-number-cell { 
    -fx-text-fill: #00303F;
    -fx-font-size: 1.0em;
    -fx-padding: 7 7 7 7;
        -fx-border-color: #DCAE1D;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-font-weight: bold;
    -fx-background-color: #DCAE1D;
}

/*propriedades da linhas das células da tabela.*/
.date-picker-popup > * > .day-cell { 
    -fx-text-fill: #DCAE1D;
    -fx-border-color: #00303F;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-background-color: #00303F;
}

.date-picker-popup > * > .hijrah-day-cell {
    -fx-alignment: TOP_CENTER;
    -fx-cell-size: 2.75em;
}

.date-picker-popup > * > .day-cell:focused { 
    -fx-background-color: #DCAE1D;
    -fx-text-fill: #00303F;
    -fx-font-size: 1.0em;
    -fx-font-weight: bold;
}

/*seleção sobre o dia do mes em que o mouse estiver sobre*/
.date-picker-popup > * > .day-cell:hover { 
    -fx-background-color: #DCAE1D;
    -fx-text-fill: #00303F;
    -fx-font-size: 1.0em;
    -fx-font-weight: bold;
}

.date-picker-popup > * > .day-cell > .secondary-text {
    -fx-font-size: 3.0em;
    -fx-fill: #ff5050;
}

.date-picker-popup > * > .today { 
    
    -fx-background-insets: 1;
    -fx-border-color: #DCAE1D;
    -fx-border-insets: 2;
}

.date-picker-popup > * > .today:focused { 
    -fx-background-color: #DCAE1D;
    -fx-text-fill: #00303F;
    -fx-font-size: 1.0em;
    -fx-font-weight: bold;
}

.date-picker-popup > * > .selected { 
    -fx-background-color: #DCAE1D;
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month { 
    -fx-text-fill: #aaaaaa;
}

.date-picker-popup > * > .previous-month > .secondary-text,
.date-picker-popup > * > .next-month > .secondary-text {
    -fx-fill: #aaaaaa;
}
