.root{
    -fx-background-color: blueviolet;
}

.table-view{
    -fx-background-color: transparent;
    -fx-text-fill: blue;
}

.table-view:focused{
    -fx-background-color: transparent;
    -fx-text-fill: #00303F;
    -fx-border-color: #DCAE1D;
    -fx-border-width: 3px;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.table-view .column-header .label {
    -fx-text-fill: #00303F;
    -fx-font-weight: bold;
}

.table-view .table-row-cell:focus{
    -fx-background-color: blueviolet;
     -fx-text-fill: blue;
 
}

.table-row-cell:odd .table-cell{
    -fx-background-color: white;
    -fx-background-insets: 0,0 0 1 0;
    -fx-font-weight: 700;
    -fx-font-family: 'System' , 'Arial', 'sans-serif';
    -fx-text-fill: #00303F;  
}

.table-row-cell:even .table-cell{
    -fx-background-color: #00303F;
    -fx-background-insets: 0,0 0 1 0;
    -fx-font-weight: 700;
    -fx-font-family: 'System' , 'Arial', 'sans-serif';
    -fx-text-fill: #ffffff;
}
        
.table-view .table-row-cell:selected .table-cell{
    -fx-background-color: #DCAE1D;
    -fx-background-insets: 0,0 0 1 0;
    -fx-background-radius: 1;
    -fx-font-weight: 700;
      -fx-font-family: 'System' , 'Arial', 'sans-serif';
    -fx-text-fill: #00303F;  
}
.table-view{
    -fx-border-width: 1.5px;
    -fx-border-color: #00303F;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-size: 14px;
    -fx-padding: 0px;
}
